<div class="container" style="padding-top: 7%;">
  <div class="card">
    <div class="card-body">
      <div class="column">
        <div class="col-md-6">
          <h1 style="color: aqua;font-family: cursive;">{{loginTitle}}</h1>
          <form [formGroup]="loginForm" (ngSubmit)="userLogin(loginForm.value)">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" #userMailID aria-describedby="emailHelp"
                formControlName="userMailID">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              <div *ngIf="MailID && MailID.invalid && MailID.touched" id="emailHelp" class="form-text" style="color:red;">E-Mail ID is Invalid</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" #userPassword formControlName="userPassword">
              <div *ngIf="Password && Password.invalid && Password.touched" id="emailHelp" class="form-text" style="color:red;">Password is not valid</div>
            </div>
            <div class="mb-3">
              <a routerLink="/register"><label class="form-check-label" for="exampleCheck1">Click Here to get
                  Registered</label></a>
            </div>
            <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Sign-In</button>
          </form>
        </div>
        <!-- <div class="col-md-10">
          <div class="image-container">
            <img src="" alt="Nature">
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
